.container {
  border: 2px solid;
  border-radius: 4px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  color: white;
  flex: 0 0 298px;
  width: 298px;
  height: 197px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 16px;
  transition: all 0.5s ease-in-out;
  margin: 0 10px;
}

.container:hover,
.container:focus {
  filter: grayscale();
  transform: scale(1.5)  rotate(10deg);
}

.container:not(:first-child) {
  margin-left: 20px;
}
